@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  min-height: 100%;
  position: relative;
}

html body {
  margin-bottom: 130px;
}

html .footer {
  position: absolute;
  background: #3F3F3F;
  height: 130px;
  width: 100%;
  bottom: 0;
}

html .footer a {
  font-size: 25px;
  text-decoration: none;
  color: #ffffff;
}

html .footer a:focus {
  color: #ffffff;
  outline: none;
}

html .footer a .fa:focus {
  color: #ffffff;
  outline: none;
}

body {
  min-width: 240px;
}

.container-fluid {
  padding: 0;
}

.container {
  padding: 0;
}

.navGap {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 63px;
  width: 100%;
  background: transparent;
  z-index: -1;
}

.active {
  color: #F1C300 !important;
}

.nav-small {
  background: #212529 !important;
}

.branding {
  font-size: 25px !important;
}

.dark {
  background: #212529 !important;
}

.dark-brand {
  font-size: 25px !important;
}

.navbar {
  min-width: 240px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  background: transparent;
}

.navbar .navbar-brand {
  font-family: 'Kaushan Script', cursive;
  color: #F1C300;
  font-size: 45px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.navbar .navbar-toggler {
  outline: none;
  padding: 0px;
}

.navbar .bi-filter-right {
  color: #ffffff;
  height: 35px;
  width: auto;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 0px;
}

.navbar .bi-filter-right:hover {
  opacity: 0.8;
}

.navbar .bi-x {
  display: none;
  color: #ffffff;
  height: 35px;
  width: auto;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar .bi-x:hover {
  opacity: 0.8;
}

.navbar .nav-item a {
  color: #ffffff;
  font-size: 17px;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .nav-item a:hover {
  color: #F1C300;
}

.home {
  background: #F1F2F6;
  position: relative;
}

.home .container-fluid {
  overflow: hidden;
  width: 100%;
  min-height: 400px;
  height: 600px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/keyboard10.JPG");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/keyboard10.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
  padding: 75px 0px 0px 0px;
}

.home .container-fluid .container {
  height: 100%;
}

.home .container-fluid .container .row {
  height: 100%;
}

.home .container-fluid .container .row .desc {
  height: 80%;
}

.home .container-fluid .container .row .desc .description {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.home .container-fluid .container .row .desc .description h2 {
  font-size: 45px;
  font-weight: 760;
  text-transform: uppercase;
}

.home .container-fluid .container .row .desc .description h2 span.typed-text {
  color: #ffffff;
}

.home .container-fluid .container .row .desc .description h2 span.cursor {
  display: inline-block;
  background-color: #ffffff;
  margin-left: 0.1rem;
  width: 3px;
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}

.home .container-fluid .container .row .desc .description h5 {
  font-size: 22px;
}

.home .container-fluid .container .row .desc .description .bi-arrow-down-circle {
  color: #ffffff;
  height: 45px;
  width: auto;
  border-radius: 50%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-animation: shrinkGrow 1.2s infinite ease;
          animation: shrinkGrow 1.2s infinite ease;
}

.home .container-fluid .container .row .desc .description .bi-arrow-down-circle:hover {
  background-color: #F1C300;
}

.home .container-fluid .container .row .img {
  height: 95%;
}

.home .container-fluid .container .row .img .image {
  height: 100%;
  width: 100%;
}

.home .container-fluid .container .row .img .image img {
  width: 350px;
  height: auto;
  margin-top: 80px;
}

.about {
  position: relative;
  background: #F1F2F6;
}

.about .container-fluid .container {
  color: #3F3F3F;
}

.about .container-fluid .container .title {
  padding: 30px 0px 0px 0px;
  text-align: center;
}

.about .container-fluid .container .title h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  border-bottom: 5px solid #F1C300;
  display: inline;
}

.about .container-fluid .container .row {
  padding: 50px 0px 60px 0px;
}

.about .container-fluid .container .row .img .image {
  height: 400px;
  width: 400px;
  background: url("../images/kyle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 15px;
  -webkit-box-shadow: -6px -6px 15px white, 6px 6px 15px rgba(0, 0, 0, 0.2);
          box-shadow: -6px -6px 15px white, 6px 6px 15px rgba(0, 0, 0, 0.2);
}

.about .container-fluid .container .row .desc .description {
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
}

.about .container-fluid .container .row .desc .description h1 {
  font-size: 38px;
  font-weight: 700;
  margin: 0px 0px 20px 0px;
}

.about .container-fluid .container .row .desc .description p {
  font-size: 23px;
  line-height: 35px;
}

.contact {
  position: relative;
  background: #F1F2F6;
}

.contact .container-fluid .title {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../images/keyboard9.JPG");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/keyboard9.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  color: #ffffff;
  text-align: center;
}

.contact .container-fluid .title h1 {
  display: inline;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  border-bottom: 5px solid #F1C300;
}

.contact .container-fluid .container {
  height: 100%;
}

.contact .container-fluid .container .row {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  background: #ffffff;
  -webkit-box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2);
}

.contact .container-fluid .container .row .side-contact {
  height: 100%;
  width: 100%;
  background: #0078B9;
  color: #ffffff;
  text-align: center;
}

.contact .container-fluid .container .row .side-contact h1 {
  font-weight: 800;
}

.contact .container-fluid .container .row .side-contact .bi-envelope {
  margin: 0 auto;
  color: #ffffff;
  height: 90px;
  width: auto;
}

.contact .container-fluid .container .row .side-contact p {
  font-weight: 400;
  font-size: 20px;
}

.contact .container-fluid .container .row .textField[type=text] {
  height: 45px;
  padding: 10px;
  background: #ffffff;
  font-size: 18px;
  border: 1px solid #3F3F3F;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact .container-fluid .container .row .textField[type=text]:focus {
  outline: none;
  border: 1px solid #0078B9;
}

.contact .container-fluid .container .row textarea {
  height: 140px;
  padding: 10px;
  background: #ffffff;
  font-size: 18px;
  border: 1px solid #3F3F3F;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact .container-fluid .container .row textarea:focus {
  outline: none;
  border: 1px solid #0078B9;
}

.contact .container-fluid .container .row .btnContact[type=submit] {
  float: right;
  opacity: 0.9;
  color: #3F3F3F;
  font-family: 'Work Sans', sans-serif;
  font-size: 17px;
  font-weight: 600;
  background-color: #F1C300;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 7px 25px;
}

.contact .container-fluid .container .row .btnContact[type=submit]:hover {
  opacity: 1;
}

@-webkit-keyframes shrinkGrow {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes shrinkGrow {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes blink {
  0% {
    background-color: #ffffff;
  }
  49% {
    background-color: #ffffff;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ffffff;
  }
}

@keyframes blink {
  0% {
    background-color: #ffffff;
  }
  49% {
    background-color: #ffffff;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ffffff;
  }
}

@media (max-width: 575.98px) {
  .container {
    padding: 0px 15px 0px 15px;
  }
  .home .container-fluid {
    height: 90vh;
  }
  .home .container-fluid .container .row .desc .description {
    text-align: center;
  }
  .home .container-fluid .container .row .desc .description h2 {
    font-size: 40px !important;
  }
  .home .container-fluid .container .row .desc .description h5 {
    font-size: 19px !important;
  }
  .home .container-fluid .container .row .img .image img {
    display: none;
  }
  .about .container-fluid .container .row {
    padding-bottom: 40px;
  }
  .about .container-fluid .container .row .desc .description h1 {
    font-size: 30px !important;
  }
  .about .container-fluid .container .row .desc .description p {
    font-size: 20px !important;
  }
}

@media (max-width: 767.98px) {
  .navbar {
    background: #212529;
  }
  .navbar .navbar-brand {
    font-size: 25px;
  }
  .home .container-fluid .container .row .desc .description {
    text-align: center;
  }
  .home .container-fluid .container .row .desc .description h2 {
    font-size: 55px;
  }
  .home .container-fluid .container .row .desc .description h5 {
    font-size: 24px;
  }
  .home .container-fluid .container .row .img .image img {
    display: none;
  }
  .about .container-fluid .container .row .img .image {
    height: 370px;
    width: 100%;
    margin: 0px 0px 30px 0px;
  }
  .about .container-fluid .container .row .desc .description h1 {
    font-size: 35px;
    text-align: center;
    margin: 0px 0px 20px 0px;
  }
  .about .container-fluid .container .row .desc .description p {
    font-size: 22px;
    line-height: 33px;
  }
}

@media (max-width: 991.98px) {
  .about .container-fluid .container .row .desc .description h1 {
    margin: 0px 0px 15px 0px;
  }
  .about .container-fluid .container .row .desc .description p {
    font-size: 21px;
  }
}
/*# sourceMappingURL=main.css.map */