<div class="text-center text-light py-4 footer">
    <h6 class="text-uppercase">© 2020 timajo. all rights reserved.</h6>
    <h6 class="text-uppercase">designed by Kyle Joseph Timajo</h6>
    <a href="https://www.facebook.com/KJT24/" target="_blank" class="text-light"><i
            class="fa fa-facebook facebook-link px-2" aria-hidden="true"></i></a>
    <a href="https://github.com/kyle-joseph" target="_blank" class="text-light"><i class="fa fa-github github-link px-2"
            aria-hidden="true"></i></a>
</div>